body {
    background: linear-gradient(-45deg, #cc7d08,  	#f8b576);
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: rgb(68, 1, 1);
    font-size: 3em;
    padding-top: 100px;
    width: 100%;
    font-family:Helvetica;
    text-align:Center;
  }
  
  h2 {
    border-bottom: 1px solid rgba(228, 6, 6, 0.5);
    border-top: 1px solid rgba(228, 6, 6, 0.5);
    color: rgba(56, 19, 2, 0.5);
    font-weight: 100;
    font-size: 22px;
    line-height: 24px;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    font-family:Helvetica;
  }
  
  p {
    color: black;
    line-height: 1.3em;
    font-size:18px;
    width: 100%;
    font-family:Helvetica;
    text-align:Left;
    background-color: teal;
  }

  li {
    color: black;
    line-height: 1.3em;
    font-size:18px;
    width: 100%;
    text-align:left;
  
  }

  .lista-ctr {
    color: black;
    line-height: 1.7em;
    font-size:20px;
    width: 100%;
    text-align:center;
  }